.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.reminder-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.add-button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.add-button:hover {
  background-color: #0056b3;
}

.reminders-list {
  margin-top: 20px;
}

.reminders-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.no-reminders {
  text-align: center;
  color: gray;
  padding: 20px;
}

.reminder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.reminder-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bell-icon {
  color: #007bff;
}

.delete-button {
  background: none;
  color: red;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover {
  text-decoration: underline;
}

/* 캘린더 스타일 추가 */
.calendar {
  margin: 20px auto; /* 상하 간격과 중앙 정렬 */
}

.react-calendar {
  width: 100%;
  max-width: 600px; /* 필요에 따라 크기 조정 */
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view {
  padding: 10px;
}

.react-calendar__tile {
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.react-calendar__tile:hover {
  background-color: #e6f0ff; /* 호버 시 배경색 */
}

.react-calendar__tile--active {
  background-color: #007bff; /* 선택된 날짜 배경색 */
  color: white;
}

.react-calendar__tile--now {
  background-color: #ffcccb; /* 현재 날짜 배경색 */
  font-weight: bold;
}

/* 요일 선택 스타일 */
.weekday-selection {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 30px;
}

.day {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.day.selected {
  background-color: #007bff;
  color: white;
}

.day:hover {
  background-color: #e6f0ff; /* 호버 시 배경색 */
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.back-button:hover svg {
  color: #0056b3;
}