.main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.header span {
  flex: 1;
  text-align: center;
}

.header span:first-child {
  text-align: left;
}

.header span:last-child {
  text-align: right;
  margin-left: 50px;
}

.calendar-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

.medication-card {
  background-color: #f8f8f8;
  font-weight: 1000;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  margin-bottom: 15%;
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(108, 108, 108);
}

.button-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.search-button,
.camera-button {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.75px solid #000;
  padding: 10px;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 1000;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
}

.search-icon,
.camera-icon {
  font-size: 24px;
  margin-bottom: 5px; /* 아이콘과 텍스트 간격 */
}

a {
  text-decoration: none; /* 모든 링크에 밑줄 없애기 */
  color: inherit; /* 링크 클릭 시 색상 변화 방지 */
}